<!-- Add User Modal-->    
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registra un usuario</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                        <form action="/usuario/registro" method="POST">
                            <div class="form-group">
                              <label for="InputName">Nombre</label>
                              <input class="form-control"required name="nombre_prs"id="InputName" type="text" aria-describedby="nameHelp" placeholder="Escribe tu nombre" maxLength="30">
                            </div>
                            <div class="form-group">
                              <div class="form-row">
                                <div class="col-md-6">
                                  <label for="InputLastName">Apellido Paterno</label>
                                  <input class="form-control" required name="apellido_paterno_prs"id="InputLastName" type="text" aria-describedby="nameHelp" placeholder="Escribe tu apellido paterno" maxLength="30">
                                </div>
                                <div class="col-md-6">
                                  <label for="InputLastName2">Apellido Materno</label>
                                  <input class="form-control" required name="apellido_materno_prs"id="InputLastName2" type="text" aria-describedby="nameHelp" placeholder="Escribe tu apellido materno" maxLength="30">
                                </div>
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                  <label for="InputPhoneNumber">Teléfono</label>
                                  <input class="form-control" required name="telefono_usr"id="InputPhoneNumber" type="tel" placeholder="Escribe tu número telefónico" maxLength="10">
                                </div>
                                <div class="col-md-6">
                                    <label for="InputOccupation">Ocupación</label>
                                    <input class="form-control" name="ocupacion_prs" id="InputOccupation" type="text" aria-describedby="nameHelp" placeholder="Escribe tu ocupación">
                                  </div>                
                            </div>
                          <br>
                            <div class="form-group">
                              <div class="form-row">
                                  <div class="col-md-6">
                                      <label for="InputSex">Sexo</label><br>
                                      <select class="form-control" required name="sexo_prs" id="InputSex">
                                          <option value="0">Selecciona tu sexo</option>     
                                          <option value="H">Hombre</option> 
                                          <option value="M">Mujer</option>
                                      </select>
                                    </div>
                                <div class="col-md-6">
                                  <label for="InputBlood">Tipo de sangre</label>
                                  <select class="form-control" required name="tipo_sangre_p" id="InputBlood">
                                      <option value="0">Selecciona tu tipo de sangre</option>     
                                      <option value="O+">O+</option> 
                                      <option value="O-">O-</option>
                                      <option value="A+">A+</option> 
                                      <option value="A-">A-</option>
                                      <option value="B+">B+</option> 
                                      <option value="B-">B-</option>
                                      <option value="AB+">AB+</option> 
                                      <option value="AB-">AB-</option>
                                  </select>
                                </div>                                
                                </div>
                                <div class="form-group">
                                    <label for="InputDateBirth">Fecha de nacimiento</label>
                                  <input class="form-control" required name="fecha_nacimiento_prs" id="InputDateBirth" type="date" min="1910-01-01" max="2000-03-01">
                                </div>
                            </div>              
                            <div class="form-group">
                              <div class="form-row">
                                  <div class="col-md-6">
                                      <label for="InputSecure">Derechohabiente a</label>
                                      <select class="form-control" name="smed_p" id="InputSecure">
                                          <option value="0">Selecciona</option>     
                                          <option value="1">IMSS</option> 
                                          <option value="2">ISSSTE</option>
                                          <option value="3">SEDENA</option> 
                                          <option value="4">PEMEX</option>
                                          <option value="5">Seguro Popular</option>
                                      </select>                    
                                  </div>
                                <div class="col-md-6">
                                  <label for="InputNSS">NSS</label>
                                  <input class="form-control" name="nss_p" id="InputNSS" type="text" aria-describedby="nameHelp" placeholder="Escribe tu NSS" maxLength="12">
                                </div>
                                <a class="d-block small mt-2" href="https://www.numerosegurosocial.com.mx/obtener-o-consultar-nss">¿No conoces tu NSS? Consúltalo aquí.</a>
                              </div>
                            </div>              
                            <hr>
                            <div class="form-group">
                              <label for="InputEmail1">Dirección de correo electrónico</label>
                              <input class="form-control" required name="email_usr" id="InputEmail1" type="email" aria-describedby="emailHelp" placeholder="Escribe tu email">
                            </div>
                            <div class="form-group">
                              <div class="form-row">
                                <div class="col-md-6">
                                  <label for="InputPassword1">Contraseña</label>
                                  <input class="form-control" required name="contrasena_usr" id="InputPassword1" type="password" placeholder="Escribe una contraseña">
                                </div>
                                <div class="col-md-6">
                                  <label for="ConfirmPassword">Confirma la contraseña</label>
                                  <input class="form-control" required name="contrasena_usr_conf" id="ConfirmPassword" type="password" placeholder="Confirma la contraseña">
                                </div>
                              </div>
                            </div>
                          </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" type="submit" disabled name="btnRegister" onclick="addUser()" data-dismiss="modal">Regístrate</button>
            </div>
        </div>
    </div>
</div>