  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registra una unidad</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form action="/crum/unidades-A" method="POST" role="form">
      <div class="modal-body">            
          <div class="card-body">
              <div class="form-group">
                <label for="InputMatricula">Matrícula</label>
                <input class="form-control" name="num_placa_a" id="InputMatricula" type="text" aria-describedby="nameHelp" placeholder="Escribe la matrícula" required>
              </div> 
              <div class="form-group">
                <label for="InputEconomicNumber">Número Económico</label>
                <input class="form-control" name="num_economico_a"id="InputEconomicNumber" type="text" aria-describedby="nameHelp" placeholder="Escribe el número económico" min="1" max="999" required>
              </div>   
              <div class="form-group">
                <label for="InputState">Estado</label>
                <select class="form-control" required name="estado_a" id="InputState">
                  <option value=''>Selecciona el estado</option>
                  <option value='0'>Mantenimiento</option>
                  <option value='1'>Activo</option>
                  <option value='2'>Fuera de servicio</option>
                </select>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary btn-success" type="submit">Registrar</button>
      </div>
      </form>
    </div>
  </div>
</div>
