<!-- Logout Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<form action="/crum/unidades-B" id="delUnits" method="POST" role="form">
				<div class='modal-body'>¿Está seguro que desea eliminar el usuario?</div>
				<div style="display: none">
					<input name="id_p">
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
					<button class="btn btn-primary btn-danger" style="color: #FFFFFF" type="submit">Eliminar</button>
				</div>
			</form>
		</div>
	</div>
</div>