<div class="modal fade" id="incoming_petition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Solicitud de emergencia entrante</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<h2>Datos del paciente</h2>
				<hr>
				<p>Usuario:</p>
				<p id="modal_id_p"></p>
				<hr>
				<h2>Ubicación</h2>
				<hr>
				<p>Dirección:</p>
				<p id="modal_direccion_pt"></p>
				<p>Latitud:</p>
				<p id="modal_ubicacion_pt_x"></p>
				<p>Longitud:</p>
				<p id="modal_ubicacion_pt_y"></p>

			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
				<a class="btn btn-primary" href="/logout">Detalles</a>
			</div>
		</div>
	</div>
</div>