<!DOCTYPE html>
<html>
<head>
  <%- include partials/template/header -%>
</head>
<body class="fixed-nav sticky-footer" style="background-color: teal" id="page-top">
  <main>
    <div align="center">
      <br>
      <img src="/images/logo.png" width="80px" height="80px" href="/"><br>
      <font color="white" size="40">&nbsp Appbulance</font>  
    </div>
    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Registra una cuenta CRUM</div>
        <div class="card-body">
          <form action="/crum/registro" method="POST">
            <!-- <label style="color: tomato; font-size: 5;"class="d-block small mt-2">*: Campos requeridos</label> -->
            <div class="form-group">
              <label for="InputName">Nombre</label>
              <input class="form-control"required name="nombre_prs"id="InputName" type="text" aria-describedby="nameHelp" placeholder="Escribe tu nombre">
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="InputLastName">Dirección</label>
                  <input class="form-control" required name="direccion_cm" id="direccion_cm" type="text" aria-describedby="nameHelp" placeholder="Escribe tu dirección">
                  <button class="btn btn-primary btn-default" type="submit" name="submit-crum-map">Buscar</button>
                </div>
                <div class="col-md-6" id="crum-map"></div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                  <label for="InputPassword1">Teléfono</label>
                  <input class="form-control" required name="telefono_usr"id="InputPhoneNumber" type="text" placeholder="Escribe tu número telefónico">
                </div>               
            </div>       
            <hr>
            <div class="form-group">
              <label for="InputEmail1">Dirección de correo electrónico</label>
              <input class="form-control" required name="email_usr" id="InputEmail1" type="email" aria-describedby="emailHelp" placeholder="Escribe tu email">
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="InputPassword1">Contraseña</label>
                  <input class="form-control" required name="contrasena_usr" id="InputPassword1" type="password" placeholder="Escribe una contraseña">
                </div>
                <div class="col-md-6">
                  <label for="ConfirmPassword">Confirma la contraseña</label>
                  <input class="form-control" required name="contrasena_usr_conf" id="ConfirmPassword" type="password" placeholder="Confirma la contraseña">
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit" disabled name="btnRegister">Regístrate</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="/usuario/ingreso">¿Ya tienes una cuenta? Inicia sesión...</a>
            <a class="d-block small" href="#">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
    </main>
    <%- include partials/template/js-scripts -%>
    <%- include partials/template/top-button -%>
    <%- include partials/template/js-scripts-googlemaps -%>

    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('crum-map'), {
          zoom: 16,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();
        document.getElementById('submit-crum-map').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('direccion_cm').value;
        geocoder.geocode({'direccion_cm': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocodificación no funcionó exitosamente por la siguiente razón: ' + status);
          }
        });
      }
    </script>
  </body>
  </html>