<html>
<head>
    <title>appbulance</title>
    <%include partials/template/header.ejs%>
</head>
<body>
<%include partials/template/main-navigation.ejs%>
<!--HOME-->
<div class="bgimg ">
    <div class=" middle">
        <h1>COMING SOON</h1>
    </div>
</div>

<!-- FOOTER -->
<footer class="container">
    <div class="row">
        <div  class="col-md-12 p-5">
            <p class="text-center">&copy; Copyright 2018 - Lázaro Cárdenas</p>
        </div>
    </div>
</footer>

<!-- BOOTSTRAPSCRIPT -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script async>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('./service-worker.js')
            .then(function() { console.log('Service Worker Registered'); });
    }
</script>
</body>
</html>