<!DOCTYPE html>
<html>
<head>
  <title>Appbulance</title>
  <%- include partials/template/header -%>
</head>
<body  id="page-top">
 <header>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#FF9D89">
        <img src="/images/logo.png" width="40px" height="40px">
        <a class="navbar-brand" href="/">&nbsp&nbsp Appbulance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Características</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Precio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Únase a nosotros
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/usuario/registro">Registrarse</a>
                <a class="dropdown-item" href="/usuario/ingreso">Iniciar sesión</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
 </header>

    <%- include partials/template/top-button -%>
    <%- include partials/template/js-scripts -%>

</body>
</html>