<!doctype html>
<html lang="en">
<!--
Page    : Appbulance.info/
Version : 2.0
Author  : Alcantara
 -->

<head>
    <title>Appbulance - Bienvenido</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Appbulance - Siempre allí">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive, ambulancia">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/css-index/appb_bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="css/css-index/appb_themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="css/css-index/appb_owl.carousel.min.css">
    <!-- Main css -->
    <link href="css/css-index/appb_style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/logo_appbulance/logotipo_appbulance_small.png" class="img-fluid" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> 
                            <span class="navbar-toggler-icon"></span> 
                        </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="/">INICIO <span class="sr-only">(Actual)</span></a> </li>                                
                                <li class="nav-item"> <a class="nav-link active" href="/usuario/ingreso">INGRESA</a> </li> 
                                <li class="nav-item"><a href="/inicio#download" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Descarga</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>Appbulance</h1>
            <p class="tagline">La única aplicación móvil en la región que permite solicitar una ambulancia donde quiera que te encuentres.</p>
        </div>
        <div class="img-holder mt-3"><img src="images/iphonex.png" alt="phone" class="img-fluid"></div>
    </header>
    <!--
    <div class="client-logos my-5">
        <div class="container text-center">
            <!- Banner de clientes->
            <img src="images/client-logos.png" alt="client logos" class="img-fluid">
        </div>
    </div> -->    
    <div class="light-bg py-5">
        <div class="container">
            <div class="section-title">
                <small>¿DUDAS? - FAQ</small>
                <h3>Preguntas Frecuentes</h3>
            </div>
            <div class="row pt-4">
                <div class="col-md-6">
                    <h4 class="mb-3">Can I try before I buy?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                    <h4 class="mb-3">What payment methods do you accept?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">Can I change my plan later?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                    <h4 class="mb-3">Do you have a contract?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                </div>
            </div>
        </div>        
    </div>
    <!-- // end .section -->
    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="section-title">
                <small>CONTACTO</small>
                <h3>Contáctanos</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> 
                        Orquídeas 81, Nuevo Infonavit, Lázaro Cárdenas 60950, Mich, MEX</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> 
                            <a class="mr-4" href="mailto:appbulance_alcave@gmail.com">appbulance_alcave@gmail.com</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="tel:527531620388">+52 (753) 162 0388</a>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT © 2018. TODOS LOS DERECHOS RESERVADOS. APPBULANCE DESARROLLADO POR <a href="https://www.alcave.com.mx">ALCAVE DEVSYS</a></small></p>

        <small>
            <a href="#" class="m-2">TÉRMINOS Y CONDICIONES</a>
            <a href="#" class="m-2">FAQ</a>
            <a href="#" class="m-2">POLÍTICA DE PRIVACIDAD</a>
        </small>
    </footer>

    <!-- Scripts -->
		<%- include partials/template/js-scripts-index-v2 -%>

</body>

</html>