<!doctype html>
<html lang="en">
<!--
Page    : Appbulance.info/
Version : 2.0
Author  : Alcave Devsys
 -->

<head>
    <title>Appbulance - Sitio Oficial</title>
    <%- include partials/template/index-css -%>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/logo_appbulance/logotipo_appbulance_small.png" class="img-fluid" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> 
                            <span class="navbar-toggler-icon"></span> 
                        </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="#home">INICIO <span class="sr-only">(Actual)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">CARACTERÍSTICAS</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#gallery">GALERÍA</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#pricing">PRECIO</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#singin">ÚNETE</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#contact">CONTACTO</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/faq" target="_blank">¿DUDAS?</a> </li>
                                <li class="nav-item"><a href="#download" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Descarga</a></li>
                                <li class="nav-item"><a href="/ingreso" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Ingresa</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <img src="images/logo_appbulance/Logotipo_text.svg" width="310px" height="57px"> 
            <p class="tagline"><br>La aplicación móvil que te permite solicitar una ambulancia donde quiera que te encuentres.</p>
        </div>
        <div class="img-holder mt-3"><img src="images/iphonex.png" alt="phone" class="img-fluid"></div>
    </header>
    <!--
    <div class="client-logos my-5">
        <div class="container text-center">
            <!-- Banner de clientes->
            <img src="images/client-logos.png" alt="client logos" class="img-fluid">
        </div>
    </div> -->

    <div class="section light-bg" id="features">
        <div class="container">
            <div class="section-title">
                <small>CARACTERÍSTICAS</small>
                <h3>Te encantará</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Simple</h4>
                                    <p class="card-text">El simple diseño que posee permite solicitar la ambulancia donde quiera que estés con solo tocar un botón. ¡Es sencillo!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Personalizable</h4>
                                    <p class="card-text">Si cambias de domicilio o de número de teléfono, no importa ya que... ¡Puedes actualizar tu información personal cuando desees!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Seguro</h4>
                                    <p class="card-text">Al ser un servicio privado, no tienes de que preocuparte por tus datos. Tu información personal está segura con nosotros. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <h3>¿Qué nos caracteriza?</h3>
            </div>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Rapidez</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Geolocalización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Enrutamiento</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Live Chat</a>
                </li> -->
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Rapidez</h2>
                            <p class="lead">Con Appbulance ya no tienes que llamar para solicitar a ambulancia</p>
                            <p>El previo registro e inicio de sesión, permite enviarnos todos tus datos que requerimos para proporcionarte 
                                el servicio médico de urgencias (Nombre, edad, teléfono, etc.), con el fin de hacer el proceso de solicitud lo más rápido posible.</p>
                        </div>
                        <img src="images/Icons/map3.svg" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Geolocalización</h2>
                            <p class="lead">¡Podemos saber tu ubicación automáticamente!</p>
                            <p>La geolocalización nos permite obtener tus coordenadas exactas en el momento que necesites el servicio por medio del GPS de tu dispositivo móvil. 
                                Con esto, no necesitas proporcionarnos la dirección tu mismo, esto ayuda a ahorrar tiempo y acelerar el proceso.
                            <br> Esto gracias al API de Google Maps, lo cual garantiza la funcionalidad de la aplicación.
                            </p>
                        </div>
                        <img src="images/Icons/map2.svg" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Enrutamiento</h2>
                            <p class="lead">¡Encontramos la ruta más cercana y rápida paraa llegar a ti!</p>
                            <p>El enrutamiento nos permite obtener la ruta mas corta desde nuestra ubicación hasta la tuya, 
                                esto nos ayuda a nosotros a saber por donde ir, ayudando así a llegar lo más pronto posible
                                a donde requieras el servicio.</p>
                            <p>Se planea integrar el enrutamiento a ustedes, los usuarios, con el fin de que puedan observar la ubicación
                                de la unidad médica que va por ustedes.</p>
                        </div>
                        <img src="images/Icons/destination.svg" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
            <!--<div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Live chat when you needed</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <!-- // end .section --
    <div class="section" id="hibrid">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                    <h2>Descubre nuestra app híbrida</h2>
                    <p class="mb-4">¿No posees un móvil con el sistema operativo Android? ¿O tu móvil no posee suficiente espacio de almacenamiento? Instala nuestra versión web en tu dispositivo sin necesidad de descargarla desde la Play Store.</p>
                    <a href="#" class="btn btn-primary">Instala la versión web en tu móvil</a>
                </div>
            </div>
            <div class="perspective-phone">
                <img src="images/perspective.png" alt="perspective phone" class="img-fluid">
            </div>
        </div>

    </div> -->

    <!-- // end .section CARACTERISTICAS-
    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>CARACTERÍSTICAS</small>
                <h3>Haz más con nuestro sistema</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Solicitar ambulancia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Información personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Live Chat</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>

                            <h2>Communicate with ease</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Scheduling when you want</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>
                            <h2>Realtime Messaging service</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Live chat when you needed</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!- // end .section -->

    <!-- // end .section TESTIMONIALS-
    <div class="section">
        <div class="container">
            <div class="section-title">
                <small>TESTIMONIALS</small>
                <h3>What our Customers Says</h3>
            </div>

            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
            </div>

        </div>

    </div>
    <!- // end .section -->

    <!-- // GALERIA -->
    <div class="section light-bg" id="gallery">
        <div class="container">
            <div class="section-title">
                <small>GALERÍA</small>
                <h3>Capturas de pantalla</h3>
            </div>
            <div class="img-gallery owl-carousel owl-theme">
                <img src="images/screen1.jpg" alt="image">
                <img src="images/screen2.jpg" alt="image">
                <img src="images/screen3.jpg" alt="image">
                <img src="images/screen1.jpg" alt="image">
            </div>

        </div>

    </div>
    <!-- // end .section -->

    <!-- // PRECIO -->
    <div class="section light-bg" id="pricing">
        <div class="container">
            <div class="section-title">
                <small>PRECIO</small>
                <h3>Suscríbete</h3>
            </div>
            <div class="card-deck">
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">PERSONAL</small>
                        <span class="price">$14<sub>/m</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">10 Projects</div>
                        <div class="list-group-item">5 GB Storage</div>
                        <div class="list-group-item">Basic Support</div>
                        <div class="list-group-item"><del>Collaboration</del></div>
                        <div class="list-group-item"><del>Reports and analytics</del></div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary btn-lg btn-block">Elíge este Plan</a>
                    </div>
                </div>
                <div class="card pricing popular">
                    <div class="card-head">
                        <small class="text-primary">FOR TEAMS</small>
                        <span class="price">$29<sub>/m</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">Unlimited Projects</div>
                        <div class="list-group-item">100 GB Storage</div>
                        <div class="list-group-item">Priority Support</div>
                        <div class="list-group-item">Collaboration</div>
                        <div class="list-group-item">Reports and analytics</div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary btn-lg btn-block">Elíge este Plan</a>
                    </div>
                </div>
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">ENTERPRISE</small>
                        <span class="price">$249<sub>/m</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">Unlimited Projects</div>
                        <div class="list-group-item">Unlimited Storage</div>
                        <div class="list-group-item">Collaboration</div>
                        <div class="list-group-item">Reports and analytics</div>
                        <div class="list-group-item">Web hooks</div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary btn-lg btn-block">Elíge este Plan</a>
                    </div>
                </div>
            </div>
            <!-- // end .pricing -->


        </div>

    </div>
    <!-- // end .section -->

    <!-- // INICIA ->
    <div class="section light-bg" id="singin">  
        <div class="container">
            <div class="section-title">
                <small>ÚNETE</small>
                <h3>Únete a Appbulance</h3>
            </div>
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>Elige un plan</h5>
                                <p>Elige el plan Appbulance que más se adapte a lo que necesites. Para ello, haz clic <a href="#pricing" target="_blank">aquí</a> </p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h5>Crea una cuenta</h5>
                                <p>Ponte en contacto con nosotros para crear tu cuenta. Puede ser por medio de correo electrónico o de manera presencial en nuestra ubicación, con el fin de obtener tus datos y el plan que deseas manejar. Para ello, haz clic <a href="#contact" target="_blank">aquí</a> </p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>Descarga la app</h5>
                                <p>Ya teniendo tu cuenta activa, descarga Appbulance en tu móvil, para ello haz clic <a href="#download" target="_blank">aquí</a> </p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">4</div>
                            <div class="media-body">
                                <h5>Accede a la app</h5>
                                <p>Accede a tu cuenta desde la aplicación y listo, ante cualquier emergencia nosotros estaremos siempre allí.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="images/iphonex.png" alt="iphone" class="img-fluid">
                </div>
            </div>            
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                        <h2>¿Ya eres parte de Appbulance?</h2>
                        <p class="mb-4">¡Maravilloso! Accede a la pagina web, o bien, descarga nuestra app en tu móvil.</p>
                        <a href="/inicio" class="btn btn-primary">Ingresar</a>
                        <a href="#download" class="btn btn-primary">Descargar</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="images/dualphone.png" alt="dual phone" class="img-fluid">
                </div>
            </div>
        </div> 
    </div>-->

    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>ÚNETE</small>
                <h3>Únete a Appbulance</h3>
            </div>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#step1">Paso 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#step2">Paso 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#step3">Paso 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#step4">Paso 4</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="step1">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Elige un plan</h2>
                            <p class="lead">Tenemos planes que se ajustan a ti.</p>
                            <p>Elige el plan Appbulance que más se adapte a lo que necesites. 
                                Para ello, haz clic <a href="#pricing" target="_blank">aquí</a></p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="step2">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Crea una cuenta</h2>
                            <p class="lead">Es sencillo, fácil y seguro.</p>
                            <p>Ponte en contacto con nosotros para crear tu cuenta. Puede ser por medio de correo electrónico 
                                o de manera presencial en nuestra ubicación, con el fin de obtener tus datos y el plan que deseas manejar. 
                                Para ello, haz clic <a href="#contact" target="_blank">aquí</a> </p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="step3">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Descarga la app</h2>
                            <p class="lead">Disponible para cualquier plataforma.</p>
                            <p>Ya teniendo tu cuenta activa, descarga Appbulance en tu móvil Android, o bien, 
                                instala en tu móvil la versión web. Para ello haz clic <a href="#download" target="_blank">aquí</a> </p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="step4">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Accede a Appbulance</h2>
                            <p class="lead">Ya sea desde la versión web o la aplicación en Android. </p>
                            <p>Accede a Appbulance con tu cuenta desde la aplicación móvil en Android o en la versión web... y listo, ante cualquier emergencia nosotros estaremos siempre allí. </p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // end .section -->
    <div class="section bg-gradient" id="download">
        <div class="container">
            <div class="call-to-action">
                <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                <h2>Descargar</h2>
                <p class="tagline">Disponible para las plataformas Android y web. Gracias a la aplicación web, usted puede utilizarla en su dispositivo móvil sin importar la versión de su Android o incluso si utiliza iOS, u otro.</p>
                <div class="my-4">
                    <!-- <a href="#" class="btn btn-light"><img src="images/appleicon.png" alt="icon"> App Store</a> -->
                    <a href="/web_version" class="btn btn-light"><img src="images/webicon.png" alt="icon"> Appbulance Web</a>
                    <a href="#" class="btn btn-light"><img src="images/playicon.png" alt="icon"> Google play</a>
                </div>
                <p class="text-primary"><small><i>*Funciona perfectamente en Android 4.4 Kitkat en adelante. </i></small></p>
            </div>
        </div>
    </div>
    <!-- // end .section -->
    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="section-title">
                <small>CONTACTO</small>
                <h3>Contáctanos</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> 
                        Orquídeas 81, Nuevo Infonavit, Lázaro Cárdenas 60950, Mich, MEX</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> 
                            <a class="mr-4" href="mailto:appbulance_alcave@gmail.com">appbulance_alcave@gmail.com</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="tel:527531620388">+52 (753) 162 0388</a>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT © 2018. TODOS LOS DERECHOS RESERVADOS. APPBULANCE DESARROLLADO POR <a href="https://www.alcave.com.mx">ALCAVE DEVSYS</a></small></p>

        <small>
            <a href="#" class="m-2">TÉRMINOS Y CONDICIONES</a>
            <a href="/faq" class="m-2">¿DUDAS? FAQ</a>
            <a href="#" class="m-2">POLÍTICA DE PRIVACIDAD</a>
        </small>
    </footer>

    <!-- Scripts -->
    <%- include partials/template/js-scripts-index-v2 -%>

</body>

</html>