<!DOCTYPE HTML>
<html>
	<head>
		<%- include partials/template/header -%>
		<title>Appbulance</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/CSS/main-index.css" rel="stylesheet">
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header" class="alt">
						<span><img src="images/logo.png" style="width: 15%; height: 15%;" width="15%" height="15%" alt="" href="#intro"/></span>
						<h1>Appbulance</h1>
						<h5>Siempre ahí</h5>
						<p>¿Aún no la tienes? ¡Instálala ahora mismo!.
						<!-- <a href="https://play.google.com" target="_blank"><img src="images/logo-google-play.svg" width="130px" alt="" /></a></p> -->
					</header>
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introducción</a></li>
							<li><a href="#who">¿Quénes ofrecemos?</a></li>
							<li><a href="#contact">Contacto</a></li>
							<li><a href="#join">Únete a nosotros</a></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>¡Bienvenido!</h2>
										</header>
										<p>Esta es la pagina oficial de la aplicación "Appbulance".<br>
										Appbulance es una aplicación móvil híbrida que permite solicitar el servicio médico de urgencias... ¡con solo presionar un botón!, así es, Appbulance envía todos los datos que requiere el centro médico (Nombre, edad, teléfono, etc), esto con el uso de la geolocalización del API de Google Maps para obtener más exactitud sobre tu ubicación.<br>
										Appbulance es el producto software de un proyecto de titulación. </p>
										<ul class="actions">
											<li><a href="generic.html" class="button">Ver más</a></li>
										</ul>
									</div>
									<span class="image"><img src="images/logo.png" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="who" class="main special">
								<header class="major">
									<h2>¿Qué ofrecemos?</h2>
								</header>
								<ul class="features">
									<li>
										<img src="images/Icons/map3.svg" width="35%" height="35%"/>
										<h3>Rapidez</h3>
										<p>El previo registro e inicio de sesión, permite enviarnos todos tus datos que requerimos para proporcionarte el servicio médico de urgencias (Nombre, edad, teléfono, etc.), con el fin de hacer el proceso de solicitud lo más rápido posible.</p>
									</li>
									<li>
										<img src="images/Icons/map2.svg" width="35%" height="35%"/>
										<h3>Geolocalización</h3>
										<p>Gracias a la geolocalización, podemos obtener tus coordenadas exactas en el momento que necesites el servicio. Con esto, no necesitas proporcionarnos la dirección tu mismo para ahorrar tiempo.</p>
									</li>
									<li>
										<img src="images/Icons/destination.svg" width="35%" height="35%"/>
										<h3>Enrutamiento</h3>
										<p>El enrutamiento nos permite obtener la ruta mas corta desde nuestra ubicación hasta tu ubicación, esto ayuda a reducir el tiempo que tarda la ambulancia en llegar a donde requieras el servicio.</p>
									</li>
								</ul>
								<!-- <footer class="major">
									<ul class="actions">
										<li><a href="generic.html" class="button">Ver más</a></li>
									</ul>
								</footer>-->
							</section>
						<!-- Form -->
							<section id="contact" class="main special">
								<header class="major">
									<h2>Contacto</h2>
									<p>Ponte en contacto con nosotros.</p>									
								</header>
								<form method="post" action="mail.php">
									<div class="row uniform">
										<div class="6u 12u$(xsmall)">
											<input type="text" name="demo-name" id="contact-name" value="" placeholder="Nombre" required/>
										</div>
										<div class="6u$ 12u$(xsmall)">
											<input type="email" name="demo-email" id="contact-email" value="" placeholder="Email" required/>
										</div>
										<div class="12u$">
											<div class="select-wrapper">
												<select name="demo-category" id="contact-category" required>
													<option value="">- Asunto -</option>
													<option value="1">Duda</option>
													<option value="2">Queja</option>
													<option value="3">Sugerencia</option>
												</select>
											</div>
										</div>										
										<div class="12u$">
											
										</div>
										<div class="12u$">
											<textarea name="demo-message" id="contact-message" placeholder="Escribe tu mensaje" rows="6" required></textarea>
										</div>
										<div class="12u$">
											<ul class="actions">
												<input type="checkbox" id="demo-human" name="demo-human" required>
												<label for="demo-human">No soy un robot</label>
												<li><input type="submit" value="Enviar mensaje" class="special" /></li>
												<li><input type="reset" value="Resetear" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>

						<!-- Get Started -->
							<section id="join" class="main special">
								<header class="major">
									<h2>Únete ya</h2>
									<p>Únete a nosotros y comienza a ser parte de este proyecto y recuerda... el tiempo es oro...</p>
								</header>
								<footer class="major">
									<ul class="actions">
										<li><a href="/usuario/registro" class="button special">Registrarse</a></li>
										<li><a href="/usuario/ingreso" class="button">Iniciar sesión</a></li>
									</ul>
								</footer>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Instálala ya</h2>
							<p>Instala nuestra aplicación móvil híbrida ahora mismo.</p>
							<ul class="actions">
								<li><a href="generic.html" class="button">Instalar</a></li>
							</ul>
						</section>
						<section>
							<h2>Datos de contacto</h2>
							<dl class="alt">
								<dt>Dirección</dt>
								<dd>Lázaro Cárdenas &bull; Michoacán, CP 60950 &bull; MEX</dd>
								<dt>Teléfono</dt>
								<dd>+52 (753) 162 0388</dd>
								<dt>Email</dt>
								<dd><a href="#">appbulance.alcave@gmail.com</a></dd>
							</dl>
						</section>
						<p class="copyright">
							Desarrollado por<br> 
							<img src="/images/logo_alcave/logotipo8.png" width="85px" height="29px"><br>
							Appbulance 2018 &copy; Alcave Systems.
						</p>
					</footer>

			</div>
  </body>
  	<!-- Scripts -->
		<%- include partials/template/js-scripts-index -%>
		<script src='sw-launcher.js'></script>
</html>