<html>
<head>
<title><%=pageTitle%></title>
    <%include partials/template/header.ejs%>
</head>
<body>
<%include partials/template/main-navigation.ejs%>
<div class="col-md-6 mt-4 ">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Date</th>
        </tr>
        <% for (var i = 0; i < time.length; i++) { %>
        <tr>
            <td><%= time[i].now %></td>
        </tr>
        <% } %>
    </table>
</div>
</body>
</html>