<html>
<head>
    <title><%=pageTitle%></title>
    <%include partials/template/header.ejs%>
</head>
<body>
    <%include partials/template/crum-navbar.ejs%>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="col-xl-3 col-sm-6 mb-3">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Date</th>
                        </tr>
                        <% for (var i = 0; i < time.length; i++) { %>
                            <tr>
                                <td><%= time[i].now %></td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
            </div>
        </div>
    </body>
    </html>