<!DOCTYPE html>
<html>
<head>
  <%- include partials/template/header -%>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <main>
    <div align="center">
      <br>
      <img src="/images/logo.png" width="80px" height="80px">
      <h2><font color="white"><a class = "navbar-brand "href="/">&nbsp Appbulance</a></font></h2>
    </div>
    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Registra una cuenta</div>
        <div class="card-body">
          <form action="/usuario/registro" method="POST">
            <div class="form-group">
              <label for="InputName">Nombre</label>
              <input class="form-control"required name="Nombre_P"id="InputName" type="text" aria-describedby="nameHelp" placeholder="Escribe tu nombre">
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="InputLastName">Apellido Paterno</label>
                  <input class="form-control" required name="A_Paterno_P"id="InputLastName" type="text" aria-describedby="nameHelp" placeholder="Escribe tu apellido paterno">
                </div>
                <div class="col-md-6">
                  <label for="InputLastName2">Apellido Materno</label>
                  <input class="form-control" required name="A_Materno_P"id="InputLastName2" type="text" aria-describedby="nameHelp" placeholder="Escribe tu apellido materno">
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                  <label for="InputPassword1">Teléfono</label>
                  <input class="form-control" name="Tel_P"id="InputPhoneNumber" type="number" placeholder="Escribe tu número telefónico">
                </div>
                <div class="col-md-6">
                  <label for="InputSex">Sexo</label><br>
                  <select class="form-control" name="Sexo_P">
                      <option value="0">Selecciona tu sexo</option>     
                      <option value="M">Hombre</option> 
                      <option value="F">Mujer</option>
                  </select>
                </div>
            </div>
          <br>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="InputLastName">Ocupación</label>
                  <input class="form-control" name="Ocupacion_P" id="InputOccupation" type="text" aria-describedby="nameHelp" placeholder="Escribe tu apellido paterno">
                </div>
                <div class="col-md-6">
                  <label for="InputBlood">Tipo de sangre</label>
                  <select class="form-control" name="Tipo_Sangre_P" id="bloodType">
                      <option value="0">Selecciona tu tipo de sangre</option>     
                      <option value="O+">O+</option> 
                      <option value="O-">O-</option>
                      <option value="A+">A+</option> 
                      <option value="A-">A-</option>
                      <option value="B+">B+</option> 
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option> 
                      <option value="AB-">AB-</option>
                  </select>
                </div>
              </div>
            </div>
              
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="InputDateBirth">Fecha de nacimiento</label>
                    <input class="form-control" required name="F_Nacimiento_P" type="date" min="1910-01-01" max="2000-03-01">
                </div>
                
              </div>
            </div>
              
            <hr>
            <div class="form-group">
              <label for="InputEmail1">Dirección de correo electrónico</label>
              <input class="form-control" name="Email_P" id="InputEmail1" type="email" aria-describedby="emailHelp" placeholder="Escribe tu email">
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="InputPassword1">Contraseña</label>
                  <input class="form-control" name="Contrasena_P" id="InputPassword1" type="password" placeholder="Escribe una contraseña">
                </div>
                <div class="col-md-6">
                  <label for="ConfirmPassword">Confirma la contraseña</label>
                  <input class="form-control" name="Confirmar_Contra_P" id="ConfirmPassword" type="password" placeholder="Confirma la contraseña">
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Regístrate</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="/usuario/ingreso">¿Ya tienes una cuenta? Inicia sesión...</a>
            <a class="d-block small" href="#">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
    </main>
    <%- include partials/template/js-scripts -%>
    <%- include partials/template/top-button -%>
  </body>
  </html>