<!DOCTYPE html>
<html>

<head>
	<%- include partials/template/header -%>
</head>

<body class="fixed-nav sticky-footer" style="background-image: linear-gradient( 135deg, rgb(247, 39, 39) 0%, rgb(253, 120, 31) 100%);"
 id="page-top">
	<main>
		<div align="center">
			<img src="/images/logo_appbulance/logotipo_appbulance_white_name.svg" width="230px" height="230px">
		</div>
		<div class="container">
			<div class="card card-login mx-auto mt-5">
				<div class="card-header text-center">Inicio de sesión</div>
				<div class="card-body">
					<%if (flashMessage.length > 0){ %>
					<div class="container" style="background-color: #fcb1a1">
						<%= flashMessage %>
					</div>
					<% } %>
					<form action="/usuario/ingreso" method="POST" role="form">
						<!--INGRESAR ERROR DE LOGIN--><label id="errorLogin" style="color: tomato; font-size: 5;" class="d-block small mt-2"></label>
						<div class="form-group">
							<label for="InputEmail1">Correo electrónico</label>
							<input class="form-control" name="email" id="Email_P" required type="email" aria-describedby="emailHelp"
							 placeholder="Escribe tu correo electrónico">
						</div>
						<div class="form-group">
							<label for="InputPassword">Contraseña</label>
							<input class="form-control" name="contra" id="Contrasena_P" required type="password" placeholder="Escribe tu contraseña">
						</div>
						<button class="btn btn-primary btn-block" type="submit">Entrar</button>
					</form>
					<div class="text-center">
						<a class="d-block small mt-3" href="/#contact">¿No tienes una cuenta aún? Ponte en contacto con nosotros.</a>

					</div>
				</div>
			</div>
		</div>
		<div class="container" align="center">
			<br>
			<font color="#FFF" size="1">Desarrollado por</font><br>
			<img src="/images/logo_alcave/logotipo8.png" width="85px" height="29px"><br>
			<font color="#FFF" size="1">Appbulance 2019 &copy; Alcave Systems.</font>
		</div>
	</main>
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<%- include partials/template/top-button -%>
</body>

</html>