<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger" id="mainNav">
	<img src="/images/logo.png" width="40px" height="40px">
	<a class="navbar-brand" href="/crum/inicio"><img src="/images/logo_appbulance/Logotipo_text.svg" width="135px" height="27px"></a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
	 aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Inicio">
				<a class="nav-link" href="/crum/inicio">
					<i class="fa fa-fw fa-home"></i>
					<span class="nav-link-text">Inicio</span>
				</a>
			</li>
			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Peticiones">
				<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
					<i class="fa fa-fw fa-inbox"></i>
					<span class="nav-link-text">Peticiones</span>
				</a>
				<ul class="sidenav-second-level collapse" id="collapseComponents">
					<li>
						<a href="/crum/peticiones">
							<i class="fa fa-fw fa-file"></i>
							<span class="nav-link-text">Historial de peticiones</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administración">
				<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
					<i class="fa fa-fw fa-indent"></i>
					<span class="nav-link-text">Administración</span>
				</a>
				<ul class="sidenav-second-level collapse" id="collapseExamplePages">
					<li>
						<a class="nav-link" href="/crum/tamps">
							<i class="fa fa-fw fa-group"></i>
							<span class="nav-link-text">TAMPS</span>
						</a>
					</li>
					<li>
						<a class="nav-link" href="/crum/unidades">
							<i class="fa fa-fw fa-ambulance"></i>
							<span class="nav-link-text">Unidades</span>
						</a>
					</li>
					<li>
						<a class="nav-link" href="/crum/usuarios">
							<i class="fa fa-fw fa-users"></i>
							<span class="nav-link-text">Usuarios</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Configuración">
				<a class="nav-link" href="/crum/configuracion">
					<i class="fa fa-fw fa-gear"></i>
					<span class="nav-link-text">Configuración</span>
				</a>
			</li>
			<hr>
		</ul>
		<ul class="navbar-nav sidenav-toggler">
			<li class="nav-item">
				<a class="nav-link text-center" id="sidenavToggler">
					<i class="fa fa-fw fa-angle-left"></i>
				</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false" style="color: white">
					<i class="fa fa-fw fa-bell"></i>
					<span class="d-lg-none">Alerts
				</a>
				<div class="dropdown-menu" aria-labelledby="alertsDropdown">
					<h6 class="dropdown-header">No hay nuevas alertas.</h6>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link " style="color: white" data-toggle="modal" data-target="#exampleModal">
					<i class="fa fa-fw fa-sign-out"></i>Cerrar sesión</a>
			</li>
		</ul>
	</div>
</nav>